p{
    color:black;
    background: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    font-size: 50px;
    padding-top: 30;
    text-align: center;
    font-weight: 500;
    position: sticky;
    top: 0px;
    background-color: beige;
}

footer{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-bottom: 40px;
    background-color: beige;
}

#cantor-holder{
    display: flex;
    justify-content: center;
}